@config "../../tailwind.config.js";
@import "tailwindcss";

@layer components {
  body {
    @apply font-primary;
  }

  .link-underline {
    @apply hover:text-primary relative;
  }

  .link-underline::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-0.5 w-0 rounded-2xl bg-primary transition-all duration-300;
  }

  .group:hover .link-underline::after {
    @apply w-full;
  }

  .row {
    @apply flex flex-wrap;
  }

  .heading {
    @apply bg-gradient-to-r from-[#8750f7] to-white bg-clip-text text-transparent;
  }

  .btn {
    @apply inline-block text-2xl leading-none rounded-full py-4 px-7 transition-all duration-300 ease-in-out cursor-pointer tracking-wide;
  }

  .btn-primary {
    @apply text-white capitalize inline-block bg-gradient-to-r from-[#2a1454] via-primary to-[#2a1454] bg-[length:200%] hover:bg-[-100px];
  }

  .btn-secondary {
    @apply text-primary border border-primary bg-transparent mt-5 hover:text-white hover:bg-primary;
  }

  .typing::after {
    @apply inline-block overflow-hidden break-words;
    content: "";
    animation: typing 7s infinite;
  }

  .box-Shadow {
    @apply drop-shadow-[0_0_30px_rgba(135,80,247,0.2)];
  }

  .form-control {
    @apply block w-full bg-[#050709] border border-[#88888859] text-white text-xl leading-none px-5 py-3 rounded-lg transition-all duration-300 ease-out focus:drop-shadow-[0_0_30px_rgba(135,80,247,0.2)];
  }
}
